<%= render "share/slide" %>

<section id="main-content">
  <div class="row">
    <h2>Editar</h2>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, "Senha" %> <i>(Deixe em branco se não quiser mudar)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirme a Senha" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password, "Senha Atual" %> <i>(Precisamos da sua senha atual para confirmar a mudança )</i>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image, autofocus: true %>
        <%= f.hidden_field :image_cache %>
      </div>

      <div class="actions">
        <%= f.submit "Atualizar", class:"item-button item-button-mobile" %>
      </div>
    <% end %>

    <h3>Cancelar minha conta</h3>

    <p>Triste? <%= button_to "Cancelar conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, class:"item-button red-button" %></p>

    <%= link_to "Sair", destroy_user_session_path, method: :delete %>
