<%= render "share/slide" %>

<section id="main-content">
  <div class="row">
    <h1>Cadastre-se
      <div id="user-widget">
        <% if current_user %>
          <%= image_tag current_user.image %> <strong> <%= current_user.name %></strong>!
        <% else %>
          <%#= link_to "<i class=\"fa fa-1x fa-facebook-square\" aria-hidden=\"true\"></i> Entrar com Facebook".html_safe, user_facebook_omniauth_authorize_path, class:"facebook-button" %>
        <% end %>
      </div>
    </h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :name, "Nome" %>
        <%= f.text_field :name, autofocus: true, placeholder:"nome e sobrenome" %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, "Senha" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> Caracteres no minimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirme a senha" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :image, "Selecione foto para perfil" %>
        <%= f.file_field :image, autofocus: true, class:"item-button-select", name:"Selecione" %>
        <%= f.hidden_field :image_cache %>
      </div>

      <div class="actions">
        <%= f.submit "Cadastrar", class:"item-button" %>
      </div>

    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</section>
