<section id="home-slider">
  <!--slide -->
  <% Banner.background.each do |banner| %>
  <!--div style="background: url('<%#= banner.image.banner.url %>')"-->
  <div>
    <div class="row">
      <div class="small-16 columns">
        <div class="cta-text">
          <!--p> <span><%#= banner.description %></span></p-->
		<div class="small-16 large-16 columns"><%=link_to image_tag("https://ioiocapcom.com/ioiocapcom/img/0001.jpg") %></div>
	        <%=link_to "Promoção <br> Eu tenho você nao tem!!".html_safe, "/promo", class:"button promo cta-button" %> 
          <%=link_to "#{banner.button} <span>Seja o maior de todos</span>".html_safe, new_item_path, class:"button cta-button" %>

          <div class="small-16 large-16 columns">
            <div class="small-16 large-5 columns medalhome"><%=link_to image_tag("https://ioiocapcom.com/ioiocapcom/img/01.jpg"), collection_show_path(id: 6) %></div>
            <div class="small-16 large-5 columns medalhome"><%=link_to image_tag("https://ioiocapcom.com/ioiocapcom/img/02.jpg"), collection_show_path(id: 4) %></div>
            <div class="small-16 large-5 columns medalhome"><%=link_to image_tag("https://ioiocapcom.com/ioiocapcom/img/03.jpg"), collection_show_path(id: 9) %></div>
            <div class="small-16 large-5 columns medalhome"><%=link_to image_tag("https://ioiocapcom.com/ioiocapcom/img/04.jpg"), collection_show_path(id: 7) %></div>
            <div class="small-16 large-5 columns medalhome"><%=link_to image_tag("https://ioiocapcom.com/ioiocapcom/img/05.jpg"), collection_show_path(id: 8) %></div>
            <div class="small-16 large-5 columns medalhome"><%=link_to image_tag("https://ioiocapcom.com/ioiocapcom/img/06.jpg"), collection_show_path(id: 5) %></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <!--//slide -->

</section>

<div class="content-top"></div>

<section id="main-content">
  <div class="row">
    <div class="small-16 columns">
      <article class="about-us-summary">
        <h2><%= @about.title %></h2>
        <p>
          <%= @about.description[0..200] %>...<%= link_to "Leia mais", "/sobre", class:"read-more" %>
        </p>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="small-16 columns">
      <div class="big-sep"></div>
    </div>
  </div>
  <div class="row">

    <div id="featured-games" class="small-16 large-9 columns">
      <h2 class="title">Destaques</h2>

      <% @article.each do |a| %>
        <article>
          <div class="image-container">
            <% unless a.link.present? %>
              <%= image_tag a.image.medium, alt:"", class:"thumbnail"%>
            <% else %>
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= a.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            <% end %>
          </div>
          <h5> <a href="#"><%= a.title %></a></h5>
          <p><%= a.description %></p>
        </article>
      <% end %>

    </div>


    <aside class="small-16 large-6 columns">
      <!--notebook-->
      <div class="notebook">

        <header><h2 class="title">Top Colecionadores</h2></header>
        <div class="blog-entries notebook-pattern">
          <% if top_collections.blank? %>
            <h3>Seja o Primeiro</h3>
          <% end %>
          <% top_collections.each do |tc| %>
          <div class="entry row large-collapse">
            <div class="date small-4 large-3 columns">
              <p>Qtde:</p><span><%= tc.items.size %></span>
            </div>
            <div class="article-preview small-12 large-13 columns">
              <h6><a href="#"><%= tc.name %></a></h6>
              <p>Brasil - SP - São Paulo</p>
              <%= link_to "Veja mais", user_show_path(id: tc.id), class:"more" %>
              <a href="#" class="link"> &rsaquo;</a>
            </div>
          </div><!--//entry-->
          <% end %>


        </div>
      </div>
      <!--//notebook-->


    </aside>

  </div>
</section>
