<%= render "share/slide" %>

<section id="main-content">

     <div class="row">
       <div class="small-16 columns">
         <h1>Onde Comprar</h1>
         <div class="big-sep"></div>
       </div>
     </div>

     <div class="row">
       <div class="small-16 columns" style="background-color: white;padding-bottom: 20px;">
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/americanas.png"), "https://www.americanas.com.br/busca/ioio-capcom", target:"_blank" %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/magazine.png"), "https://busca.magazineluiza.com.br/busca?q=ioio+capcom", target:"_blank"  %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/mundopop.png"), "http://portalmundopop.com/index.php/ioio.html", target:"_blank"  %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/mdg.png"), "https://lojamundodosgames.com/index.php/ioio-capcom.html", target:"_blank"  %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/mercadolivre.png"), "https://lista.mercadolivre.com.br/ioio-capcom#D[A:ioio%20capcom]", target:"_blank"  %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/shoptime.png"), "https://www.shoptime.com.br/busca/ioio-capcom", target:"_blank"  %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/submarino.png"), "https://www.submarino.com.br/busca/ioio-capcom", target:"_blank"  %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/walmart.png"), "https://www.walmart.com.br/busca/?ft=ioio+capcom&PS=40", target:"_blank"  %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/extra.png"), "https://buscando2.extra.com.br/busca?q=ioio+capcom", target:"_blank"  %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/casasbahia.png"), "https://buscas2.casasbahia.com.br/busca?q=ioio+capcom", target:"_blank"  %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/amazon.png"), "https://www.amazon.com.br/s/ref=nb_sb_noss?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=ioio+capcom&rh=i%3Aaps%2Ck%3Aioio+capcom", target:"_blank"  %></div>
         <div class="small-8 large-4 columns"><%= link_to image_tag("icons/agua.png"), "https://www.aguadecheiroonline.com.br/loja/busca.php?loja=575286&palavra_busca=ioio+capcom", target:"_blank"  %></div>

       </div>
     </div>


</section>
