<%@collection%>
<%= render "share/slide" %>

<section id="main-content">


      <div class="row game-presentation fontgame">
        <div class="small-16 large-4 columns center">
          <%= image_tag @collection.image.url %>
          <h1><%= @collection.name %></h1>
        </div>
        <div class="small-16 large-12 columns">
          <span class="desc"><h4>Descrição:</h4></span>
          <p><%= @collection.description %></p>

          <span class="desc"><h4>Estoque:</h4></span>
          <span class="disponiveis"><%= @collection.free %></span>/<%= @collection.stock %>

        </div>
      </div>



      <div class="row">
        <div class="small-16 columns">
		<%=link_to "Cadastre seu IOIO <span>Seja o maior de todos</span>".html_safe, new_item_path, class:"button cta-button" %>
          <div class="big-sep"></div>
        </div>
      </div>

      <div class="row">
        <div class="small-16 columns">
          <span class="desc"><h4>Ioios Cadastrados:</h4></span>
          <% @collection_item.each do |item |%>
              <%# next unless item.active %>
              <%= link_to "<div class=\"line-active\">#{item.code}</div>".html_safe, item %>
          <% end %>
          <%# for i in 1..@collection.stock %>
            <%# exists = @collection.item.find_by_code(i) %>
            <%# if exists && exists.status_id == 1  %>
              <%#= link_to "<div class=\"line-active\">#{i}</div>".html_safe, exists %>
            <%# else %>
              <!--div class="line-code"><%#= i %></div-->
            <%# end %>
          <%# end %>
        </div>
      </div>

      <div class="row">
        <div class="small-16 columns">
          <div class="big-sep"></div>
        </div>
      </div>


</section>
