<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field select">
    <%= f.label :collection_id, "Modelo do Ioio" %>
    <%= f.select :collection_id, Collection.all.collect { |c| [ c.name, c.id, {'data-image': c.image.thumb} ] }, include_blank: false %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <br>

  <div class="field">
    <%= f.label :code, "Código do IOIO" %>
    <%= f.text_area :code %>
  </div>

  <div class="field">
    <%= f.label :descriprion, "Detalhes sobre seu IOIO" %>
    <%= f.text_area :descriprion, height:400 %>
  </div>

  <%= f.file_field :image, multiple: true %>

  <div id="uploaded_photos"></id>

  <div class="actions">
    <%= f.submit "Cadastrar", class:"item-button" %>

  </div>
<% end %>

<script>


$('#item_image').uploadifive({

    'uploadScript' : '/photo/uploader.json',
    'formData' : {'authenticity_token': $('input[name=authenticity_token]').val()},
    'fileTypeDesc' : 'Arquivos de Imagem',
    'fileTypeExts' : '*.gif; *.jpg; *.jpeg; *.png',
    'buttonText': 'Selecionar Arquivos',
    'uploadLimit' : 4,
    'onUploadComplete' : function(file, data, response) {
        var json = JSON.parse(data),
            template = '<div class="photo small-4 columns">' +
                '<input type="hidden" name="classified_ad[photo_ids][]" value="' + json.id + '" />' +
                '<img src="' + json.url + '" >' +
                '</div>';

        $('#uploaded_photos').append(template);
    }
});
</script>
