<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field select">
    <%= f.label :collection_id, "Modelo do Ioio" %>
    <%= f.select :collection_id, Collection.all.collect { |c| [ c.name, c.id, {'data-image': c.image.thumb} ] }, include_blank: false %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <br>

  <div class="field">
    <%= f.label :code, "N° de Serie do IOIO" %>
    <%= f.text_field :code, min:"1", max:"5000", maxlength:"4", required:"" %>
  </div>

  <div class="field">
    <%= f.label :link, "Video do IOIO" %>
    <%= f.text_field :link, required:"" %>
  </div>

  <div class="field">
    <%= f.label :descriprion, "Algo mais?" %>
    <%= f.text_area :descriprion %>
  </div>

  <div class="field">
    <%= f.label :image, "Limite 5 fotos! A Primeira foto tem que ser do ioio junto com o N° de serie" %>
    <div id="uploaded_photos"></div>
  </div>


  <div class="actions">
    <%= f.file_field :image, multiple: true %>
    <%= f.submit "Cadastrar", class:"item-button mt25" %>

  </div>
<% end %>
