<%= render "share/slide" %>

<section id="main-content">

      <div class="row">
        <div class="small-16 columns">
          <h1>Detalhes</h1>
        </div>
      </div>

      <div class="row game-presentation">
        <div class="small-16 large-9 columns" style="text-align: center;">
          <div class="video-container"><iframe width="100%" height="300" src="https://www.youtube.com/embed/<%= @item.link %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
          <%#=image_tag @item.photo[0].image.medium, class:"thumbnail" %>
          <div class="thumbnails gallery">
            <% @item.photo.each do |photo| %>
              <%=link_to image_tag(photo.image.thumb), photo.image.url, rel:"prettyPhoto[gallery]", class:"game-gallery thumbnail" %>
            <% end %>
          </div>
        </div>
        <div class="small-16 large-7 columns">
          <div class="game-description">
            <h2><%=link_to image_tag(@item.collection.image.thumb), collection_show_path(id: @item.collection.id) %> <%=link_to @item.collection.name, collection_show_path(id: @item.collection.id) %> #<%= sprintf '%04d', @item.code%></h2>
            <h5>dono: <span class="username"><%= @item.user.name %></span></h5>
            <p>
              <%= @item.descriprion %>
            </p>
          </div>
          <div class="platforms">
            <h5 class="white">Disponível para negociações</h5>

          </div>
          <div class="details-link">
            <%= link_to "Clique aqui", item_trade_path(id: @item.id) %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-16 columns">
          <div class="big-sep"></div>
        </div>
      </div>


</section>

<script>
$(function(){
  // Bind the swipeleftHandler callback function to the swipe event on div.box
  $( "div.pp_hoverContainer" ).on( "swipeleft", swipeleftHandler );

  // Callback function references the event target and adds the 'swipeleft' class to it
  function swipeleftHandler( event ){
    alert("left");
    //$( event.target ).addClass( "swipeleft" );
  }
});
</script>
