<%= render "share/slide" %>

<section id="main-content">

      <div class="row">
        <div class="small-16 columns">
          <h1>Detalhes</h1>
          <div class="big-sep"></div>
        </div>
      </div>

      <div class="row game-presentation">
        <div class="small-16 large-9 columns" style="text-align: center;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/E7GtoKf0XOo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <%#=image_tag @item.photo[0].image.medium, class:"thumbnail" %>
          <div class="thumbnails gallery">
            <% @item.photo.each do |photo| %>
              <%=link_to image_tag(photo.image.thumb), photo.image.url, rel:"prettyPhoto[gallery]", class:"game-gallery thumbnail" %>
            <% end %>
          </div>
        </div>
        <div class="small-16 large-7 columns">
          <div class="game-description">
            <h2><%=link_to image_tag(@item.collection.image.thumb), collection_show_path(id: @item.collection.id) %> <%=link_to @item.collection.name, collection_show_path(id: @item.collection.id) %> #<%= sprintf '%05d', @item.code%></h2>
            <h5>dono: <span class="username"><%= @item.user.name %></span></h5>
            <p>
              <%= @item.descriprion %>
            </p>
          </div>
          <div class="platforms">
            <h5 class="white">Disponível para negociações</h5>

          </div>
          <div class="details-link">
            <a href="games-single.html">Click aqui</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-16 columns">
          <div class="big-sep"></div>
        </div>
      </div>


</section>
